.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #4c96af;
  color: white;
  z-index: 1000; /* Ensure it stays on top of other content */
}

.navbar h1 {
  margin: 0;
  font-size: 1.5rem; /* Adjust font size if needed */
}

.navbar-left {
  margin-left: 20px; /* Left margin for AutoSummarizer */
}

.navbar-right {
  margin-right: 50px; /* Right margin for Home */
}

.navbar-right a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem; /* Adjust font size */
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.5rem;
  }

  .navbar h1 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }

  .navbar-left {
    margin-left: 0; /* Remove left margin for mobile view */
  }

  .navbar-right {
    margin-right: 0; /* Remove right margin for mobile view */
    margin-top: 1rem; /* Adjust spacing between top and bottom in mobile view */
  }

  .navbar-right a {
    margin: 0.5rem 0;
  }
}
